**.orig
*.class
*.pyc
*.pyo
*.rbc
*.sassc
.project
.rspec
.rvmrc
.sass-cache
.svn
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
_svn
capybara-*.html
pickle-email-*.html
rerun.txt
